/* Formatação do site ----------------------------
-------------------------------------------------*/
html, body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(45deg, #f5f0e1 25%, transparent 25%) -50px 0,
                linear-gradient(-45deg, #f5f0e1 25%, transparent 25%) -50px 0,
                linear-gradient(45deg, transparent 75%, #f5f0e1 75%) -50px 0,
                linear-gradient(-45deg, transparent 75%, #f5f0e1 75%) -50px 0;
    background-size: 100px 100px;
    background-color: #f5f0e1;
    letter-spacing: -0.2px;
    font-family: 'Times New Roman';
    height: 100%;
}

.navbar {
    font-family: 'Verdana';
}

/* Estilizando o texto ----------------------------
-------------------------------------------------*/
.mediumseagreen {color: mediumseagreen;}

p {
    font-size: 1.2rem;
}

.h1, .h2, .h3, .h4, .h5 {
    text-shadow: 0px 0px 2px #00000067;
}

/* Botão Customízavel ----------------------------
-------------------------------------------------*/
.btn-custom {
    background: white;
}

.btn-custom:hover {
    background-color: black;
    color: white;
    transition: 0.2s;
}

/* .linha-vertical {
    width: 1px;
    height: 2vw;
    background-color: #000;
    margin: 0 20px;
} */

#welcome {
    margin-top: 100px;
}

/* Estilização dos conteúdos do container --------
-------------------------------------------------*/
.newspaper-article {
    background-color: whitesmoke;
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border: 4px solid #aaa;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s, opacity 0.3s;
}

.newspaper-article:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    opacity: 1;
    transition: 0.3s;
}

.article-title {
    font-size: 28px;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #333;
}

.article-content {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 20px;
}

/* Borda e descrição de mídias -------------------
-------------------------------------------------*/
.old-english-border {
    position: relative;
}

.old-english-border img {
    display: block;
    max-width: 100%;
    height: auto;
    border: none;
    padding: 0;
}

.old-english-border img:hover {
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.img-description {
    padding: 0;
    text-align: center;
    width: 98%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}



.old-english-border:hover .img-description {
    opacity: 1;
}

/* Tipos de Espaçamento de Letras ----------------
-------------------------------------------------*/
.lp-sm{letter-spacing: -0.5px;}
.lp-m{letter-spacing: -0.2px;}
.lp-l{letter-spacing: 1.5px;}
.lp-xl{letter-spacing: 2.5px;}

/* Estilização da Barra de Navegação -------------
-------------------------------------------------*/
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

/* Tamanho de mídia -----------------------------
-------------------------------------------------*/
@media (max-width: 576px) {
    .img-description {
        width: 100%;
        left: 0;
        transform: none;
        border-radius: 5px;
    }
}

/* Cores de texto -------------------------------
-------------------------------------------------*/
:root {
    --aqua-color: aqua;
    --aquamarine-color: aquamarine;
    --red-color: red;
    --orangered-color: orangered;
    --orange-color: orange;
    --pink-color: pink;
    --blueviolet-color: blueviolet;
    --green-color: green;
    --greenyellow-color: greenyellow;
    --mediumseagreen-color: mediumseagreen;
    --yellow-color: yellow;
    --black-color: black;
    --gray-color: gray;
    --white-color: white;
    --whitesmoke-color: whitesmoke;
    --beige-color: beige;
    --brown-color: brown;
}

/* Fontes Internas ------------------------------
-------------------------------------------------*/


/* Fontes Externas ------------------------------
-------------------------------------------------*/
@font-face {
    font-family: 'OldLondon';
    src: url('OldLondon.ttp') format(truetype);
    font-weight: normal;
    font-style: none;
}

/*
    Formatação das fontes externas:
        format();
        - opentype (otf)
        - truetype (ttf)
        - embedded-opentype
        - truetype-aat (Apple Advanced Typography)
        - svg
*/