/*Formatação do site ------------------------------
-------------------------------------------------*/
html, body {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(45deg, #f5f0e1 25%, transparent 25%) -50px 0,
                linear-gradient(-45deg, #f5f0e1 25%, transparent 25%) -50px 0,
                linear-gradient(45deg, transparent 75%, #f5f0e1 75%) -50px 0,
                linear-gradient(-45deg, transparent 75%, #f5f0e1 75%) -50px 0;
    background-size: 100px 100px;
    background-color: #f5f0e1;
    letter-spacing: -0.4px;
    font-family: 'Times New Roman';
}

.mediumseagreen {color: mediumseagreen;}

.h1, .h2, .h3 {
    font-family: 'OldLondon';
    text-shadow: 0px 0px 2px #00000067;
}

.linha-vertical {
    width: 1px;
    height: 30px;
    background-color: #000;
    margin: 0 20px;
}
  
.newspaper-article {
    background-color: #fff;
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border: 4px solid #aaa;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s, opacity 0.3s;
}

.newspaper-article:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    opacity: 1;
}

.article-title {
    font-size: 28px;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #333;
}

.article-content {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 20px;
}

.old-english-border {
    position: relative;
}

.old-english-border img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 0;
    transition: border 0.3s ease-in-out;
    transition-delay: 0.1s;
}

.old-english-border img:hover {
    border: 4px solid #8B4513;
    border-radius: 5px;
    padding: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.img-description {
    text-align: center;
    width: 98%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.old-english-border:hover .img-description {
    opacity: 1;
}

/* Fontes externas */
@font-face {
    font-family: 'OldLondon';
    src: url('OldLondon.ttp') format(truetype);
    font-weight: normal;
    font-style: none;
}

/*
    Tipos de format();
    - opentype (otf)
    - truetype (ttf)
    - embedded-opentype
    - truetype-aat (Apple Advanced Typography)
    - svg
*/